
    /* Custom styles to visually indicate unavailable dates */
    .flatpickr-disabled {
    background-color: #c74444 !important;  
    color: black !important;  
    opacity: 0.8;
    pointer-events: none; 
    }

    .flatpickr-day {
        cursor: pointer;  
    }

    .flatpickr-day:hover {
        background-color: #ffffff;  /* Light hover effect for selectable days */
    }

    .flatpickr-day.selected {
        background-color: #4CAF50 !important; /* Green for selected days */
        color: white;
    }

    /* Style for the day before the start of the range (left half-filled) */
    .flatpickr-day.start-day-prev {
        background: linear-gradient(to left, #c74444 50%, transparent 50%);
        color: black;
        opacity: 0.7;
        background-clip: content-box;
        /* pointer-events: none; */
    }

    /* Style for the day after the end of the range (right half-filled) */
    .flatpickr-day.end-day-next {
        background: linear-gradient(to right, #c74444 50%, transparent 50%);
        color: black;
        opacity: 0.7;
        background-clip: content-box;
        /* pointer-events: none; */
    }

    .flash-messages {
    margin-top: 20px;
    }

    .flash-message {
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .flash-message.success {
        background-color: #4CAF50;
        color: white;
    }

    .flash-message.error {
        background-color: #f44336;
        color: white;
    }

    .form-control.input {
        display: none;
    }

    .image-container {
        position: relative;
    }
    
    .price-overlay {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 1.2rem;
    }