.main{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blessing {
    text-align: center;
    font-size: 0.8rem;
    color: #dedede;
}

.filter {
    display: flex;
    justify-content: space-around;
}

.dates {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.signup-field {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.list-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-button button:hover{
    cursor: pointer;
}

.space-listing{
    background-color:#f2f2f2;
    padding-top: 0.3em;
    padding-right: 0.8em;
    padding-bottom: 0.3em;
    padding-left: 0.8em;
    margin-bottom:1em;
}

.menu-bar{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:aqua
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2b2b;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding:20px;
    font-size:20px;
    text-decoration: none;
}
li a:hover {
    animation-name: menubarhover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes menubarhover {
    0% {background-color:#2b2b2b; box-shadow: 0px 0px 00px #a70000;}
    100% {background-color:#a70000; box-shadow: 0px 4px 10px #a70000;}
}

.price-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}
  
  .carousel-item {
    position: relative; /* Ensure positioning context for the overlay */
  }

  .custom-navbar {
    height:60px; 
}