body {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blessing {
    text-align: center;
    font-size: 0.8rem;
    color: #dedede;
}

.filter {
    display: flex;
    justify-content: space-around;
}

.dates {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.signup-field {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.list-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-button button:hover{
    cursor: pointer;
}

.space-listing{
    background-color:#f2f2f2;
    padding-top: 0.3em;
    padding-right: 0.8em;
    padding-bottom: 0.3em;
    padding-left: 0.8em;
    margin-bottom:1em;
}