<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>
    <h3>Edit Profile</h3>
    <form action="/profile/edit" method="POST" type="submit">
        <label for="username"></label>
        <input name="username" value='{{user.username}}' />
        <label for="name"></label>
        <input name="name" value='{{user.name}}' />
        <label for="email"></label>
        <input name="email" value='{{user.email}}' />
        <label for="phone_number"></label>
        <input name="phone_number" value='{{user.phone_number}}' />
        <button>Update</button>
    </form>
</body>
</html>