<!DOCTYPE html>
<html>

<head>
    <title>MakersBnB</title>

    <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home" style="display: inline-flex; align-items: center;">
            <img src="/static/house-door.svg" alt="Icon" style="width: 30px; height: 30px; margin-right: 8px;">
            MakersBNB
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link" href="{{url_for('booking_requests')}}">Requests</a>
                <a class="nav-link" href="{{url_for('profile')}}">Profile</a>
                <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
              </div>
          </div>
        </div>
      </nav>
    <div class="main">
    <h1>Book a Space</h1>
    <p class="blessing">Website made possible thanks to our glorious leader Calum<br />ALL HAIL CALUM</p>
    <form action="/new_space">
        <button style="margin-bottom:1em">List your space</button>
    </form>
    <!-- Commented date related things out for now - unsure if we'll implement properly later -->
    <!-- <div class="filter">
            <div class="dates">
                <label>Available from (DD/MM/YY)</label>
                <input />
            </div>
            <div class="dates">
                <label>Available to (DD/MM/YY)</label>
                <input />
            </div>
            <form class="list-button">
                <button>List Spaces</button>
            </form>
        </div>  -->

    <div>
        {% for space in spaces %}
        <div class="space-listing">
            <h4>
                {{space.name}}
            </h4>
            <img src="/static/images/placeholder.png" alt="peterborough"></img>
            <p>
                {{space.description}}
                <br>
                <a href="{{ url_for('display_single_space', id=space.id) }}">View</a>
            </p>
        </div>
        {% endfor %}

    </div>
</div>
</body>

</html>