<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
    <!-- Maybe have the username here -->
    <h2>{{username}}'s Profile</h2>
    <!-- My properties Information -->
    <side>
        <h4>My Properties</h4>
        <div>
            {% for space in owner.spaces %}
            <div>
                {{space.name}}
            </div>
            {% endfor %}
        </div>

    </side>
    <!-- My Bookings / Bookings for my property -->
    <main>
        <h4>Bookings for my property</h4>
        {% for space in owner.spaces %}
        <div>
            <h5>
                {{space.name}}
            </h5>
            {% for booking in space.bookings %}
            <div>
                {{booking.check_in}}
                <br />
                {{booking.check_out}}
                <hr />
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <h4>My Bookings</h4>
        {% for space in guest.spaces %}
        <div>
            <h5>
                {{space.name}}
            </h5>
            {% for booking in space.bookings %}
            <div>
                {{booking.check_in}}
                <br />
                {{booking.check_out}}
                <hr />
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </main>
    <!-- My Details -->

    <side>
        <h4>My Details</h4>
        <div>
            <p>Name: {{owner.name}}</p>
            <p>Email: {{owner.email}}</p>
            <p>Phone Number: {{owner.phone_number}}</p>
            <form action="/profile/edit">
                <button>Edit Details</button>
            </form>
        </div>
    </side>

</body>
</html>