<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB - Sign Up</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Sign Up</h1>
        <p class="blessing">Website made possible thanks to our glorious leader Calum<br/>ALL HAIL CALUM</p>
        {%for error in errors%}
            <p>{{error}}</p>
        {% endfor %}
        <form action="/create_user" method="post">
        <div class="body">
            <div class="signup-field">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="signup-field">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="signup-field">
                <label for="phone_number">Phone Number</label>
                <input type="text" id="phone_number" name="phone_number">
            </div>
            <div class="signup-field">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="signup-field">
                <label for="password">Password</label>
                <input type="text" id="password" name="password">
            </div>
        </div> 

            <button type="submit" >Submit</button>
        </form>

    </body>
</html>
