<!DOCTYPE html>
<html>
    <head>
        <title>{{ space.name }}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/single_space.css">
        <!-- <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_light.css"> -->

    </head>
    <body>
        <h1>{{ space.name }}</h1>

        <div>
            <h4>{{ space.description }}</h4>
            <h3>PICTURE</h3>
            <p>£{{ "%.2f"|format(space.price) }}</p>
            <p>{{ space.address }}</p>
        </div>
    
        <h3>Book Now</h3>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('create_booking', space_id=space.id) }}" method="POST" id="bookingForm">
            <div id="inlineCalendar"></div>
            <!-- <input type="hidden" name="selectedDate" id="selectedDate"> -->
            <input type="hidden" name="startDate" id="startDate">
            <input type="hidden" name="endDate" id="endDate"> 
            <button type="submit">Book Now</button>
        </form>


        <!-- <input id="dateSelector" type="text" placeholder="Select Date" /> -->
        <!-- <p id="selectedDate">Selected Date: None</p> -->


        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/plugins/confirmDate/confirmDate.js"></script> -->
        <script> 
        unavailableDatesString = '{{ unavailable_dates | tojson | safe }}';
        const unavailableDates = JSON.parse(unavailableDatesString);
        </script>
        <script src="{{ url_for('static', filename='calendar.js') }}"></script>


        
    </body>
</html>

